<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
      <header>
        <h1>{{page.title}}</h1>
        {% if page.subtitle %}
          <h5>{{page.subtitle}}</h5>
        {% endif %}
      </header>
      <main>

        <nav>
          <ul>
            <li><a href="index.html">Introduction</a></li>
            <li><a href="a-gentle-introduction-to-computer-programming.html">A Gentle Introduction to Computer Programming</a></li>
          </ul>
        </nav>

        <section class="content">
          {{ content }}
        </section>

      </main>

      <footer>
        <p>Written by <a href="http://zeespencer.com">Zee Spencer</a> and
          Published by <a href="https://codeunion.io">CodeUnion.io</a>. This
            guide is licensed under a <a rel="license"
              href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative
              Commons Attribution-NonCommercial-ShareAlike 4.0 International
          License</a>.</p> </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-49979097-2");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>
